<h2 mat-dialog-title>

    {{ data?.mode === 'EDIT' ? 'Edit Task' : 'Add Task' }}

</h2>

<mat-dialog-content>

    <form
        [formGroup]="form"
        class="dialog-form">

        <!-- Task Name -->

        <mat-form-field
            appearance="outline"
            class="full-width">

            <mat-label>

                Task Name

            </mat-label>

            <input
                matInput
                maxlength="150"
                formControlName="name"
                placeholder="Enter task name">

            <mat-hint align="end">

                {{ form.get('name')?.value?.length || 0 }} / 150

            </mat-hint>

            <mat-error *ngIf="form.get('name')?.hasError('required')">

                Task Name is required

            </mat-error>

        </mat-form-field>

        <!-- Assign To -->

        <mat-form-field
            appearance="outline"
            class="full-width">

            <mat-label>

                Assign To

            </mat-label>

            <mat-select formControlName="assignedUserId">

                <mat-option
                    *ngFor="let user of users"
                    [value]="user.id">

                    <mat-icon>

                        person

                    </mat-icon>

                    {{ user.username }}

                </mat-option>

            </mat-select>

            <mat-error>

                Please select a user

            </mat-error>

        </mat-form-field>

        <!-- Description -->

        <mat-form-field
            appearance="outline"
            class="full-width">

            <mat-label>

                Description

            </mat-label>

            <textarea
                matInput
                rows="5"
                maxlength="500"
                formControlName="description"
                placeholder="Enter task description">

            </textarea>

            <mat-hint align="end">

                {{ form.get('description')?.value?.length || 0 }} / 500

            </mat-hint>

        </mat-form-field>

    </form>

</mat-dialog-content>

<mat-dialog-actions align="end">

    <button
        mat-stroked-button
        (click)="close()">

        Cancel

    </button>

    <button
        mat-flat-button
        color="primary"
        (click)="save()">

        <mat-icon>

            save

        </mat-icon>

        {{ data?.mode === 'EDIT'
            ? 'Update Task'
            : 'Save Task' }}

    </button>

</mat-dialog-actions>